@charset "UTF-8";
/* 사용자정의CSS */
.background{
	background-color : #F5F5F5;
	background-size: 100% 100%;
	height: 100%;
}

.selected-menu{
	background-color : #F1F9FF;
}

.menu-btn{
	width: 40px; 
	height: 40px;
	font-size: 30px;
    padding: 0;
    border: 1px solid #c5c5c5;
	cursor: pointer;
}

.center-table{
	display: table;
	height: 100%;
	margin: auto;
}
.center-table>*{
	display: table-cell;
	vertical-align: middle;
}
.input-text{
	display: block;
}
.input-st1{
	border: 1px solid silver;
}

.title{
	font-size: 52px !important;
}
.font-size-36{
	font-size: 36px !important;
	padding: 10px !important;
}
.font-size-24{
	font-size: 24px !important;
	padding: 5px !important;	
}

.btn{
/* 	border-radius: 5px; */
	min-height: 32px;
	min-width: 60px;
	font-size: 16px;
}

.btn-st1{
	background-color: #007FFF;
	border: 1px solid #003EFF;
	color: white;
}

.btn-green{
	background-color: #6AEBA8;
	border: 1px solid #2ed184;
	color: white;
}

.fl-left{
	float: left;
}
.fl-right{
	float: right;
}
iframe {
	border-width: 0;
	width: 100%;
	height: 100%;
}

#indexTab li .ui-icon-closethick {
	float: right;
	margin: 0.1em 0em 0 1em;
	cursor: pointer;
}

#indexTab {
	border: 0;
	padding: 0;
}

#indexTab>ul {
	border-radius: 0;
}

#indexTab li {
	margin: .2em;
	border: 0;
	border-radius: 0 !important;
}

.ui-tabs-panel {
	height: 95%;
	padding: 0 !important;
	background-color: #F5F5F5 !important;
}

.context {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: none;
}

.context>ul {
	border: 1px solid black;
}

.context li {
	padding: .4em;
}

#tabContextUl .ui-menu-item-wrapper{
	padding: .5em 2em !important;
}

.grid {
	border: 1px solid silver;
}

.gridContext {
	width: 200px;
}

.slick-row-hover {
	background-color: #FAFAFA;
}

.editor-text {
	width: -webkit-fill-available;
	padding: 7px;
}

.editor-checkbox {
	width: 25px;
	height: 25px;
	margin-top: 5px;
}

.slick-cell.copied {
	background: rgba(0, 0, 255, 0.1) !important;
	-webkit-transition: 0.5s background;
}

.slick-cell.selected {
	background-color: beige;
}

.slick-headerrow-column {
	text-overflow: clip;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.slick-headerrow-column input {
	margin: 0;
	padding: 3px;
	width: 100%;
	height: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.slick-footer-count {
	font-weight: bold;
	color: gray;
	font-style: italic;
}

.slick-footer-sum {
	font-weight: bold;
	color: gray;
	font-style: italic;
}

.common-tooltip {
	background-color: white;
	background-image: none;
}

.tree-toggle {
	height: 9px;
	width: 9px;
	display: inline-block;
}

.tree-toggle.expand {
	background: url(../plugin/slickGrid/images/expand.gif) no-repeat center
		center;
}

.tree-toggle.collapse {
	background: url(../plugin/slickGrid/images/collapse.gif) no-repeat
		center center;
}

#content{
	height: 100vh;
}

#content-title {
	font-size: 24px
}

.btn-area {
	display: inline;
}
.search-area{
	display: block;
}


.form{
	display : inline-block;
	width : 100%;
	font-size: 16px;
}
.form-require-label{
	color : #EC7B7E;
}
.form-text{
	padding: 4px;
	border: 1px solid silver;
}
.form-radio{
	width: 20px;
	height: 20px;
}
.form-radio-label{
	vertical-align: text-top;
}
/* clearfix */
.clearfix {
/* 	익스플로러7 이하의 버전에 영역을 잡기위한 요소 */
	*zoom:1;
}
.clearfix:before, .clearfix:after {display:block; content: ''; line-height: 0;}
.clearfix:after {clear: both;}

/* 그리드 틀어짐 때문에 재정의 */
.slick-pane {
  position: initial;
}
/* 자동완성카테고리 */
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em 1em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}