@charset "UTF-8";
/* 사용자정의CSS - 노트북 사이즈 */
@media screen and (max-width: 1280px) {
	.ht-pl-1 {
		height : 75vh;
	}
	.ht-pl-2 {
		height : 37vh;
	}
	.ht-pl-3 {
		height : 36.8vh;
	}
	/* 조회조건이없을때 */
	.ht-pl-1-1 {
		height : 86vh;
	}
	.ht-pl-2-1 {
		height : 42.5vh;
	}
}