@charset "UTF-8";
/* 사용자정의CSS */
.background{
	background-color : #F5F5F5;
	background-size: 100% 100%;
	height: 100%;
}

.selected-menu{
	background-color : #F1F9FF;
}

.menu-btn{
	background-image: url(/resources/img/menu-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    border: 1px solid #c8c8c8;
	cursor: pointer;
}

.center-table{
	display: table;
	height: 100%;
	margin: auto;
}
.center-table>*{
	display: table-cell;
	vertical-align: middle;
}
.input-text{
	display: block;
}
.input-st1{
	border: 1px solid silver;
}

.title{
	font-size: 52px !important;
}
.font-size-36{
	font-size: 36px !important;
	padding: 10px !important;
}
.font-size-24{
	font-size: 24px !important;
	padding: 5px !important;	
}

.mg-tp-default2{
	margin-top: 20px;
}
.mg-lt-default2{
	margin-left: 20px;
}
.mg-rt-default2{
	margin-right: 20px;
}
.mg-bt-default2{
	margin-bottom: 20px;
}
.mg-default2{
	margin: 20px;
}
.mg-tp-default{
	margin-top: 10px;
}
.mg-lt-default{
	margin-left: 10px;
}
.mg-rt-default{
	margin-right: 10px;
}
.mg-bt-default{
	margin-bottom: 10px;
}
.mg-default{
	margin: 10px;
}
.pd-tp-default{
	padding-top: 15px;
}
.pd-lt-default{
	padding-left: 15px;
}
.pd-rt-default{
	padding-right: 15px;
}
.pd-bt-default{
	padding-bottom: 15px;
}
.pd-default{
	padding: 15px;
}

.btn{
/* 	border-radius: 5px; */
	min-height: 32px;
	min-width: 60px;
	font-size: 16px;
}

.btn-st1{
	background-color: #007FFF;
	border: 1px solid #003EFF;
	color: white;
}

.btn-green{
	background-color: #6AEBA8;
	border: 1px solid #2ed184;
	color: white;
}

.fl-left{
	float: left;
}
.fl-right{
	float: right;
}
iframe {
	border-width: 0;
	width: 100%;
	height: 100%;
}

#indexTab li .ui-icon-closethick {
	float: right;
	margin: 0.1em 0em 0 1em;
	cursor: pointer;
}

#indexTab {
	border: 0;
	padding: 0;
}

#indexTab>ul {
	border-radius: 0;
}

#indexTab li {
	margin: .2em;
	border: 0;
/* 	border-radius: .2em; */
	border-radius: 0 !important;
}

.ui-tabs-panel {
	height: 95%;
	padding: 0 !important;
	background-color: #F5F5F5 !important;
}

.context {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: none;
}

.context>ul {
	border: 1px solid black;
}

.context li {
	padding: .4em;
}

.grid {
	border: 1px solid silver;
}

.gridContext {
	width: 200px;
}

.slick-row-hover {
	background-color: #FAFAFA;
}

.editor-text {
	width: -webkit-fill-available;
	padding: 7px;
}

.editor-checkbox {
	width: 25px;
	height: 25px;
	margin-top: 5px;
}

.slick-cell.copied {
	background: rgba(0, 0, 255, 0.1) !important;
	-webkit-transition: 0.5s background;
}

.slick-cell.selected {
	background-color: beige;
}

.slick-headerrow-column {
	text-overflow: clip;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.slick-headerrow-column input {
	margin: 0;
	padding: 3px;
	width: 100%;
	height: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.slick-footer-count {
	font-weight: bold;
	color: gray;
	font-style: italic;
}

.slick-footer-sum {
	font-weight: bold;
	color: gray;
	font-style: italic;
}

.common-tooltip {
	background-color: white;
	background-image: none;
}

.tree-toggle {
	height: 9px;
	width: 9px;
	display: inline-block;
}

.tree-toggle.expand {
	background: url(../plugin/slickGrid/images/expand.gif) no-repeat center
		center;
}

.tree-toggle.collapse {
	background: url(../plugin/slickGrid/images/collapse.gif) no-repeat
		center center;
}

#content{
	height: 100vh;
}
#header-dummy{
	height: 15px;
}
#content-header {
	height: 100px;
	margin-top: 0 !important;
}
#content-header-1{
	height: 30px;
	margin-top: 0 !important;
}

#content-title {
	font-size: 24px
}

.btn-area {
	display: inline;
}
.search-area{
	display: block;
}

.div-1{
	display : inline-block;
	width : 10%;
}
.div-2{
	display : inline-block;
	width : 20%;
}
.div-3{
	display : inline-block;
	width : 30%;
}
.div-4{
	display : inline-block;
	width : 40%;
}
.div-5{
	display : inline-block;
	width : 50%;
}

.form{
	display : inline-block;
	width : 100%;
	font-size: 16px;
}
.form-text{
	padding: 3px;
	border: 1px solid silver;
/* 	border-radius: 4px; */
}

.content-panel {
	background-color: #FFFFFF !important;
	box-shadow : 3px 3px 3px rgb(51 51 51 / 20%);
	padding: 15px;
	margin: 15px;
}
/* clearfix */
.clearfix {
/* 	익스플로러7 이하의 버전에 영역을 잡기위한 요소 */
	*zoom:1;
}
.clearfix:before, .clearfix:after {display:block; content: ''; line-height: 0;}
.clearfix:after {clear: both;}

.wd-pl-1 {
	display: inline-block;
	width: 22.4%;
}
.wd-pl-2 {
	display: inline-block;
	width: 47.3%;
}
.wd-pl-3 {
	display: inline-block;
	width: 72.1%;
}
.wd-pl-4 {
	display: inline-block;
	width: 97%;
}
/* 조회조건이1줄 일때 */
.ht-pl-1 {
	height : 78vh;
	float: left;
}
.ht-pl-2 {
	height : 36vh;
	float: left;
}

/* 조회조건이없을때 */
.ht-pl-1-1 {
	height : 85vh;
	float: left;
}
.ht-pl-2-1 {
	height : 40vh;
	float: left;
}

.no-mg-tp{
	margin-top: 0px !important;
}
.no-mg-bt{
	margin-bottom: 0px !important;
}
.no-mg-lt{
	margin-left: 0px !important;
}
.no-mg-rt{
	margin-right: 0px !important;
}
/* 그리드 틀어짐 때문에 재정의 */
.slick-pane {
  position: initial;
}