@charset "UTF-8";
/* margin */
.mg-tp-default2{
	margin-top: 20px;
}
.mg-lt-default2{
	margin-left: 20px;
}
.mg-rt-default2{
	margin-right: 20px;
}
.mg-bt-default2{
	margin-bottom: 20px;
}
.mg-default2{
	margin: 20px;
}
.mg-tp-default{
	margin-top: 10px;
}
.mg-lt-default{
	margin-left: 10px;
}
.mg-rt-default{
	margin-right: 10px;
}
.mg-bt-default{
	margin-bottom: 10px;
}
.mg-default{
	margin: 10px;
}

.mg-tp-sm{
	margin-top: 5px;
}
.mg-lt-sm{
	margin-left: 5px;
}
.mg-rt-sm{
	margin-right: 5px;
}
.mg-bt-sm{
	margin-bottom: 5px;
}
.mg-sm{
	margin: 5px;
}

.mg-default3{
	margin: 1%;
}
.mg-tp-default3{
	margin-top: 1%;
}
.mg-bt-default3{
	margin-bottom: 1%;
}
.mg-lt-default3{
	margin-left: 1%;
}
.mg-rt-default3{
	margin-right: 1%;
}
.no-mg{
	margin: 0px !important;
}
.no-mg-tp{
	margin-top: 0px !important;
}
.no-mg-bt{
	margin-bottom: 0px !important;
}
.no-mg-lt{
	margin-left: 0px !important;
}
.no-mg-rt{
	margin-right: 0px !important;
}
/* 패널용마진 */
.mg-pl-default{
	margin: 0.7%;
}
.mg-pl-tp-default{
	margin-top: 0.7%;
}
.mg-pl-bt-default{
	margin-bottom: 0.7%;
}
.mg-pl-lt-default{
	margin-left: 0.7%;
}
.mg-pl-rt-default{
	margin-right: 0.7%;
}