@charset "UTF-8";
/* padding */
.pd-tp-default{
	padding-top: 15px !important;
}
.pd-lt-default{
	padding-left: 15px !important;
}
.pd-rt-default{
	padding-right: 15px !important;
}
.pd-bt-default{
	padding-bottom: 15px !important;
}
.pd-default{
	padding: 15px !important;
}

.pd-tp-default2{
	padding-top: 10px !important;
}
.pd-lt-default2{
	padding-left: 10px !important;
}
.pd-rt-default2{
	padding-right: 10px !important;
}
.pd-bt-default2{
	padding-bottom: 10px !important;
}
.pd-default2{
	padding: 10px !important;
}

.pd-default3{
	padding: 1% !important;
}

/* 패널용 패딩 */
.pd-pl-default{
	padding: 0.7% !important;
}
.pd-pl-tp-default{
	padding-top: 0.7% !important;
}
.pd-pl-bt-default{
	padding-bottom: 0.7% !important;
}
.pd-pl-lt-default{
	padding-left: 0.7% !important;
}
.pd-pl-rt-default{
	padding-right: 0.7% !important;
}

/* 패딩 없음 */
.no-pd{
	padding: 0 !important;
}
.no-pd-tp{
	padding-top: 0 !important;
}
.no-pd-bt{
	padding-bottom: 0 !important;
}
.no-pd-lt{
	padding-left: 0 !important;
}
.no-pd-rt{
	padding-right: 0 !important;
}