<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs">

	<!-- 게시글 작성/수정 -->
	<insert id="I_BBS_BOARD" parameterType="HashMap" statementType="CALLABLE">
		<selectKey resultType="HashMap" keyProperty="BBS_BOARD_ID" order="BEFORE">
			<choose>
				<when test="@org.apache.commons.lang3.StringUtils@isBlank(BBS_BOARD_ID)">
					SELECT BBS_BOARD_S.NEXTVAL as BBS_BOARD_ID
				  	  FROM DUAL
				</when>
				<otherwise>
					SELECT #{BBS_BOARD_ID} as BBS_BOARD_ID
				  	  FROM DUAL
				</otherwise>
			</choose>
		</selectKey>
		/* P_BBS_BOARD */
		MERGE INTO BBS_BOARD
			 USING DUAL
			    ON (BBS_BOARD_ID = #{BBS_BOARD_ID})
			  WHEN MATCHED THEN
			UPDATE SET CATEGORY_CODE 	= #{CATEGORY_CODE}
					 , OPEN_YN			= #{OPEN_YN}
					 , TITLE			= #{TITLE}
					 , BOARD_CONTENTS	= ${@prjb.com.util.ComUtil@getClob(BOARD_CONTENTS)}
					 , MID = #{MID}
					 , MDT = SYSDATE
					 , MIP = #{MIP}
			  WHEN NOT MATCHED THEN
			  INSERT(BBS_BOARD_ID
		          , MODULE_CODE
		          , CATEGORY_CODE
		          , OPEN_YN
		          , BOARD_NO
		          , TITLE
		          , BOARD_CONTENTS
		          , VIEW_CNT
		          <include refid="config.cidColumn"></include>
		          )
		       VALUES(#{BBS_BOARD_ID}
		       	  , #{MODULE_CODE}
		          , #{CATEGORY_CODE}
		          , #{OPEN_YN}
		          , (SELECT NVL(MAX(BOARD_NO), 0)
		               FROM BBS_BOARD
		              WHERE MODULE_CODE = #{MODULE_CODE}) +1
		          , #{TITLE}
		          , ${@prjb.com.util.ComUtil@getClob(BOARD_CONTENTS)}
		          , 0
		          , #{MID}
		          , SYSDATE
		          , #{MIP}
		          , #{MID}
		          , SYSDATE    
		          , #{MIP})
	</insert>
	
	<!-- 게시판 사용모듈 조회 -->	
	<select id="S_BBS_MODULE" resultType="HashMap" parameterType="HashMap" >
		/* S_BBS_MODULE */
		SELECT 'id_' || (ROWNUM-1) AS "id" 
			 , A.DETAIL_CODE 								AS MODULE_CODE
			 , COMM_UTIL_PKG.lang(A.MLG_CODE, #{LANG_CODE}) AS MODULE_NAME
		  FROM COMM_CODE_DETAIL A
		  JOIN COMM_CODE_MASTER B ON A.COMM_CODE_MASTER_ID = B.COMM_CODE_MASTER_ID
		 WHERE B.USE_YN = '1'
		   AND B.SYSTEM_CODE_YN = '1'
		   AND B.MASTER_CODE = 'MODULE'
		   AND A.ATTRIBUTE1 = '1'
		   <![CDATA[
		   AND (TO_DATE(A.START_DATE) <= SYSDATE AND NVL(TO_DATE(A.END_DATE), SYSDATE) <= SYSDATE)
		   ]]>
		 ORDER BY A.SEQ ASC
	</select>
	
	<!-- 게시판 카테고리 조회 -->
	<select id="S_BBS_SETTING" resultType="HashMap" parameterType="HashMap" >
		/* S_BBS_SETTING */
		SELECT 'id_' || (ROWNUM-1) AS "id" 
			 , A.BBS_SETTING_ID 
			 , A.MODULE_CODE    
			 , A.SEQ
			 , A.CATEGORY_CODE  
			 , A.CATEGORY_NAME
			 , A.UP_CATEGORY_CODE
			 , A.DESCRIPTION    
			 , A.USE_YN         
			 , COMM_UTIL_PKG.comm_code_attr('MODULE', A.MODULE_CODE, 'NAME', #{LANG_CODE}) AS MODULE_NAME
		  FROM BBS_SETTING A
		 WHERE A.MODULE_CODE = #{MODULE_CODE}
		 ORDER BY A.SEQ ASC
	</select>
	
	<!-- 게시판 리스트 카테고리 조회 (권한적용)-->	
	<select id="S_BBS_CATEGORY" resultType="HashMap" parameterType="HashMap" >
		/* S_BBS_CATEGORY */
		SELECT 'id_' || (ROWNUM-1) AS "id"
			 , LEVEL-1 AS "indent"
			 , SUBSTR( SYS_CONNECT_BY_PATH(ROWNUM, '_')
	 		 		 , (INSTR(SYS_CONNECT_BY_PATH(ROWNUM, '_'), '_', -1, 2)+1)
	 		 		 , (INSTR(SYS_CONNECT_BY_PATH(ROWNUM, '_'), '_', -1) - (INSTR(SYS_CONNECT_BY_PATH(ROWNUM, '_'), '_', -1, 2)+1)) ) -1	AS "parent" 
			 , A.CATEGORY_CODE  
			 , COMM_UTIL_PKG.lang(A.CATEGORY_NAME, #{LANG_CODE}) as CATEGORY_NAME
		  FROM BBS_SETTING A
		 WHERE A.USE_YN = '1'
		   AND A.MODULE_CODE = #{MODULE_CODE}
		 START WITH A.UP_CATEGORY_CODE IS null 
       CONNECT BY PRIOR A.CATEGORY_CODE = A.UP_CATEGORY_CODE
         ORDER SIBLINGS BY A.SEQ
	</select>
	
	<!-- 게시글 조회(한개)-->	
	<select id="S_BBS_BOARD_ONE" resultMap="config.ClobMap" parameterType="HashMap" >
		/* S_BBS_BOARD_ONE */
		SELECT A.BBS_BOARD_ID  
			 , A.MODULE_CODE   
			 , A.CATEGORY_CODE
			 , COMM_UTIL_PKG.lang(B.CATEGORY_NAME, #{LANG_CODE}) as CATEGORY_NAME
			 , A.OPEN_YN
			 , A.BOARD_NO      
			 , A.TITLE         
			 , A.BOARD_CONTENTS
		  FROM BBS_BOARD A
		  LEFT JOIN BBS_SETTING B ON (A.CATEGORY_CODE = B.CATEGORY_CODE AND A.MODULE_CODE = B.MODULE_CODE)
		 WHERE A.BBS_BOARD_ID = #{BBS_BOARD_ID}
		   AND A.MODULE_CODE = #{MODULE_CODE}
	</select>
	
	<!-- 게시글 리스트 조회-->	
	<select id="S_BBS_BOARD" resultType="HashMap" parameterType="HashMap" >
		/* S_BBS_BOARD */
		SELECT 'id_' || (ROWNUM-1) AS "id" 
			 , A.BBS_BOARD_ID  
			 , A.MODULE_CODE   
			 , A.CATEGORY_CODE 
			 , A.BOARD_NO      
			 , A.TITLE
			 , COMM_UTIL_PKG.user_name(A.CID) AS WRITER
			 , A.VIEW_CNT
		  FROM BBS_BOARD A
		 WHERE A.MODULE_CODE = #{MODULE_CODE}
		   AND A.CATEGORY_CODE = #{CATEGORY_CODE}
		   <if test="@prjb.com.util.ComUtil@nvl(WRITER, '') != ''">
		 	<![CDATA[
 		 	AND instr(COMM_UTIL_PKG.user_name(A.CID), #{WRITER}) > 0
 		 	]]>
		 </if>
		 <if test="@prjb.com.util.ComUtil@nvl(TITLE, '') != ''">
		 	<![CDATA[
 		 	AND instr(A.TITLE, #{TITLE}) > 0
 		 	]]>
		 </if>
		 ORDER BY A.BOARD_NO DESC
	</select>
	
	<!-- 게시글 조회수 증가 -->
	<update id="U_BBS_BOARD_VIEW_UP" parameterType="HashMap" >
		/* U_BBS_BOARD_HIT */
		UPDATE BBS_BOARD
		   SET VIEW_CNT = NVL(VIEW_CNT, 0) + 1
		 WHERE BBS_BOARD_ID = #{BBS_BOARD_ID}
	</update>
</mapper>