<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="combo">

	<!-- 시스템코드 조회 -->	
	<select id="S_SYS_CODE" resultType="HashMap" parameterType="HashMap" >
		/* S_SYS_CODE */
		SELECT A.COMM_CODE_DETAIL_ID
			 , A.COMM_CODE_MASTER_ID
			 , A.DETAIL_CODE AS CODE_VALUE
			 , COMM_UTIL_PKG.lang(A.MLG_CODE, #{LANG_CODE}) AS CODE_NAME
			 , A.ATTRIBUTE1
			 , A.ATTRIBUTE2
			 , A.ATTRIBUTE3
			 , A.ATTRIBUTE4
			 , A.ATTRIBUTE5
			 , A.ATTRIBUTE6
			 , A.ATTRIBUTE7
			 , A.ATTRIBUTE8
			 , A.ATTRIBUTE9
			 , A.ATTRIBUTE10
			 , A.SEQ
		  FROM COMM_CODE_DETAIL A
		  JOIN COMM_CODE_MASTER B ON A.COMM_CODE_MASTER_ID = B.COMM_CODE_MASTER_ID
		 WHERE B.USE_YN = '1'
		   AND B.SYSTEM_CODE_YN = '1'
		   AND B.MASTER_CODE = #{MASTER_CODE}
		   <![CDATA[
		   AND (TO_DATE(A.START_DATE) <= SYSDATE AND NVL(TO_DATE(A.END_DATE), SYSDATE) <= SYSDATE)
		   ]]>
		 ORDER BY A.SEQ ASC
	</select>
	
	<!-- 기능코드 조회 -->	
	<select id="S_FUNCTION_COMBO" resultType="HashMap" parameterType="HashMap" >
		/* S_FUNCTION_COMBO */
		SELECT A.COMM_FUNCTION_ID AS CODE_VALUE
			 , A.FUNCTION_CODE    
			 , COMM_UTIL_PKG.lang(A.MLG_CODE, #{LANG_CODE}) || ' (' || A.FUNCTION_CODE || ')'	AS CODE_NAME
			 , A.DESCRIPTION      
			 , A.ATTRIBUTE1       
			 , A.ATTRIBUTE2       
			 , A.ATTRIBUTE3       
			 , A.ATTRIBUTE4       
			 , A.ATTRIBUTE5       
			 , A.ATTRIBUTE6       
			 , A.ATTRIBUTE7       
			 , A.ATTRIBUTE8       
			 , A.ATTRIBUTE9       
			 , A.ATTRIBUTE10      
		  FROM COMM_FUNCTION A
		 WHERE A.COMM_FUNCTION_ID = A.COMM_FUNCTION_ID
		 ORDER BY A.MLG_CODE ASC
	</select>
	
</mapper>