<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="config">
	
	<!-- 생성자,수정자 SQL블럭 -->
	<sql id="cidColumn">
		, CID
		, CDT
		, CIP
		, MID
		, MDT
		, MIP
	</sql>
	
	<!-- 그리드컨텍스트메뉴저장 -->
	<sql id="P_COMM_GRID_CONTEXT">
		MERGE INTO COMM_GRID_CONTEXT A
    	USING DUAL
           ON (A.COMM_GRID_MASTER_ID = ${COMM_GRID_MASTER_ID} AND A.FUNCTION_CODE = ${FUNCTION_CODE})
    	 WHEN MATCHED THEN
			UPDATE SET A.USE_YN = ${USE_YN}
					 , A.DESCRIPTION = ${DESCRIPTION}
					 , A.MID = ${MID}
					 , A.MDT = SYSDATE
					 , A.MIP = ${MIP}
    	 WHEN NOT MATCHED THEN
        	INSERT (A.COMM_GRID_CONTEXT_ID, A.COMM_GRID_MASTER_ID, A.FUNCTION_CODE, A.USE_YN, A.DESCRIPTION, A.CID, A.CDT, A.CIP, A.MID, A.MDT, A.MIP)
        	VALUES (COMM_GRID_CONTEXT_S.NEXTVAL, ${COMM_GRID_MASTER_ID}, ${FUNCTION_CODE}, ${USE_YN}, ${DESCRIPTION}, ${MID}, SYSDATE, ${MIP}, ${MID}, SYSDATE, ${MIP})
	</sql>
	
	<!-- clob -->
	<resultMap id="ClobMap" type="hashMap" >
	    <result property="BOARD_CONTENTS" column="BOARD_CONTENTS" jdbcType="CLOB" javaType="java.lang.String"/>
	</resultMap>
</mapper>