<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="st">

	<!-- 게시판에 업로드된 영상 리스트 -->	
	<select id="S_BBS_VIDEO_LIST" resultType="HashMap" parameterType="HashMap" >
		/* S_BBS_VIDEO_LIST */
      SELECT 'id_' || (ROWNUM-1) AS "id" 
      	   , LOWER(A.FILE_EXTENSION)	AS FILE_EXTENSION
      	   , COMM_UTIL_PKG.comm_code_attr('FILE_EXTENSION', UPPER(A.FILE_EXTENSION), 'ATTRIBUTE1', #{LANG_CODE}) AS FILE_TYPE
      	   , A.COMM_FILE_ID
      	   , A.RANDOM_KEY
           , A.FILE_NAME
           , B.BBS_BOARD_ID
           , B.BOARD_NO
           , C.CATEGORY_NAME
           , CASE WHEN B.OPEN_YN = '1'
                  THEN ''
                  ELSE '(' || COMM_UTIL_PKG.lang('비공개', 'KO') || ') ' END || B.TITLE        AS TITLE
           , A.ATTRIBUTE1
           , A.SCHEDULE_CODE
        FROM COMM_FILE A
   LEFT JOIN BBS_BOARD B ON (A.GROUP_ID = B.BBS_BOARD_ID AND B.MODULE_CODE = 'ST')
   LEFT JOIN BBS_SETTING C ON (B.CATEGORY_CODE = C.CATEGORY_CODE)
       WHERE A.MODULE_CODE = 'BD'
         AND COMM_UTIL_PKG.comm_code_attr('FILE_EXTENSION', UPPER(A.FILE_EXTENSION), 'ATTRIBUTE1', #{LANG_CODE}) IN ('VIDEO', 'SUB')
         <if test="@prjb.com.util.ComUtil@nvl(TITLE, '') != ''">
		 	<![CDATA[
		 	AND INSTR(B.TITLE, #{TITLE}) > 0
		 	]]> 
		 </if>
       ORDER BY B.BBS_BOARD_ID DESC, TO_NUMBER(COMM_UTIL_PKG.comm_code_attr('FILE_EXTENSION', UPPER(A.FILE_EXTENSION), 'SEQ', #{LANG_CODE})) ASC
	</select>
	
	<!-- 영상 리스트 -->	
	<select id="S_ST_VIDEO" resultType="HashMap" parameterType="HashMap" >
		/* S_ST_VIDEO */
      SELECT 'id_' || (ROWNUM-1) AS "id" 
      	   , A.ST_VIDEO_ID
      	   , A.CATEGORY_NAME		AS CATEGORY_NAME
      	   , A.UP_CATEGORY_NAME		AS UP_CATEGORY_NAME
      	   , A.VIDEO_NAME
      	   , A.OPEN_YN
      	   , A.DESCRIPTION
        FROM ST_VIDEO A
       START WITH A.UP_CATEGORY_NAME IS null 
     CONNECT BY PRIOR A.CATEGORY_NAME = A.UP_CATEGORY_NAME
       ORDER SIBLINGS BY A.CATEGORY_NAME
	</select>
	<!-- 영상 리스트 조회 -->	
	<select id="S_ST_VIDEO_VIEW" resultType="HashMap" parameterType="HashMap" >
		/* S_ST_VIDEO_VIEW */
	       SELECT 'id_' || (ROWNUM-1) AS "id"
		       , LEVEL-1 AS "indent"
		       , SUBSTR( SYS_CONNECT_BY_PATH(ROWNUM, '_')
		           , (INSTR(SYS_CONNECT_BY_PATH(ROWNUM, '_'), '_', -1, 2)+1)
		           , (INSTR(SYS_CONNECT_BY_PATH(ROWNUM, '_'), '_', -1) - (INSTR(SYS_CONNECT_BY_PATH(ROWNUM, '_'), '_', -1, 2)+1)) ) -1  AS "parent"
		       , A.ST_VIDEO_ID
		       , A.CATEGORY_NAME
		       , A.VIDEO_NAME
	      	FROM ST_VIDEO A
	  START WITH A.UP_CATEGORY_NAME IS null 
	 CONNECT BY PRIOR A.CATEGORY_NAME = A.UP_CATEGORY_NAME
	 ORDER SIBLINGS BY A.CATEGORY_NAME
	</select>
	
	<!-- 영상 리스트(업로드된 파일) 조회 -->	
	<select id="S_ST_VIDEO_VIEW_FILE" resultType="HashMap" parameterType="HashMap" >
		/* S_ST_VIDEO_VIEW_FILE */
	       SELECT 'id_' || (ROWNUM-1) AS "id"
		       , LEVEL-1 AS "indent"
		       , SUBSTR( SYS_CONNECT_BY_PATH(ROWNUM, '_')
		           , (INSTR(SYS_CONNECT_BY_PATH(ROWNUM, '_'), '_', -1, 2)+1)
		           , (INSTR(SYS_CONNECT_BY_PATH(ROWNUM, '_'), '_', -1) - (INSTR(SYS_CONNECT_BY_PATH(ROWNUM, '_'), '_', -1, 2)+1)) ) -1  AS "parent"
		       , A.ST_VIDEO_ID
		       , A.CATEGORY_NAME
		       , A.VIDEO_NAME
	      	FROM ST_VIDEO A
         WHERE (
               (VIDEO_NAME IS NULL
               AND 1=1
               )
               OR
               (VIDEO_NAME IS NOT NULL
               AND 
               EXISTS(
                        SELECT COMM_FILE_ID
                          FROM COMM_FILE
                         WHERE MODULE_CODE = 'ST'
                           AND UPPER(FILE_EXTENSION) = 'MP4'
                           AND GROUP_ID = A.ST_VIDEO_ID
                        ))
               )
	  START WITH A.UP_CATEGORY_NAME IS null 
	 CONNECT BY PRIOR A.CATEGORY_NAME = A.UP_CATEGORY_NAME
	 ORDER SIBLINGS BY A.CATEGORY_NAME
	</select>
	<!-- 파일변환 매핑한 파일 조회 -->
	<select id="S_MAPPING_FILE" resultType="HashMap" parameterType="HashMap" >
		SELECT 'id_' || (ROWNUM-1) AS "id"
			 , A.COMM_FILE_ID
			 , A.MODULE_CODE
			 , A.GROUP_ID
			 , A.FILE_NAME
			 , A.FILE_EXTENSION
			 , A.FILE_SIZE
			 , B.VIDEO_NAME
			 , A.RANDOM_KEY
			 , A.DESCRIPTION
			 , A.ATTRIBUTE1
			 , COMM_UTIL_PKG.comm_code_attr('FILE_EXTENSION', UPPER(A.FILE_EXTENSION), 'ATTRIBUTE1', #{LANG_CODE}) AS FILE_TYPE
		  FROM COMM_FILE A
	 	  JOIN ST_VIDEO B ON (A.GROUP_ID = B.ST_VIDEO_ID)
		 WHERE A.MODULE_CODE 	= 'ST'
		   AND A.GROUP_ID 		= #{ST_VIDEO_ID}
		 ORDER BY A.COMM_FILE_ID ASC
	</select>
	<!-- 파일변환 매핑한 파일 수정 -->
	<update id="U_MAPPING_FILE" parameterType="HashMap">
		UPDATE COMM_FILE
		   SET DESCRIPTION = #{DESCRIPTION}
		   	 , ATTRIBUTE1 = #{ATTRIBUTE1}
		   	 , MID = #{MID}
		   	 , MIP = #{MIP}
		   	 , MDT = SYSDATE
		 WHERE COMM_FILE_ID = #{COMM_FILE_ID}
		   AND RANDOM_KEY = #{RANDOM_KEY}
	</update>
	
	
	
	
	
	
	
	
	<!-- 동영상 파일변환 신청 -->	
	<insert id="I_ST_FILE_CONVERT" parameterType="HashMap">
		/* I_ST_FILE_CONVERT */
		INSERT INTO ST_FILE_CONVERT( ST_FILE_CONVERT_ID
								   , ORIGIN_COMM_FILE_ID
								   , STATE_CODE
								   , COMM_USER_ID
									<include refid="config.cidColumn"></include>
									)
							  SELECT ST_FILE_CONVERT_S.NEXTVAL
								   , A.COMM_FILE_ID
								   , 'WAIT'
								   , #{COMM_USER_ID}
								   , #{CID}
							       , SYSDATE
								   , #{CIP}
								   , #{CID}
								   , SYSDATE    
								   , #{CIP}        
							    FROM COMM_FILE A
							   WHERE EXISTS (
							   SELECT Z.COMM_FILE_ID
							     FROM (
							     		SELECT Z.COLUMN_VALUE 	AS COMM_FILE_ID
									   		, Y.COLUMN_VALUE	AS RANDOM_KEY
									     FROM (
											SELECT ROWNUM  			AS IDX
											 	 , COLUMN_VALUE     AS COLUMN_VALUE
											  FROM TABLE(COMM_UTIL_PKG.SPLIT(#{COMM_FILE_IDS}, '[@;,;@]'))
											) Z
											JOIN (
											SELECT ROWNUM  			AS IDX
											 	 , COLUMN_VALUE     AS COLUMN_VALUE
											FROM TABLE(COMM_UTIL_PKG.SPLIT(#{RANDOM_KEYS}, '[@;,;@]'))
											) Y ON Z.IDX = Y.IDX
							     		) Z
							     WHERE Z.COMM_FILE_ID = A.COMM_FILE_ID
							       AND Z.RANDOM_KEY = A.RANDOM_KEY
							   )
	</insert>
	<!-- 동영상 파일변환 신청 조회 -->
	<select id="S_ST_FILE_CONVERT" resultType="HashMap" parameterType="HashMap" >
		/* S_ST_FILE_CONVERT */
		<![CDATA[
		SELECT 'id_' || (ROWNUM-1) AS "id"
			 , A.ST_FILE_CONVERT_ID
			 , A.STATE_CODE
			 , COMM_UTIL_PKG.COMM_CODE_ATTR('SCHEDULE_STATE', A.STATE_CODE, 'NAME', #{LANG_CODE})	AS STATE_NAME
			 , A.ORIGIN_COMM_FILE_ID
			 , A.RESULT_COMM_FILE_ID
			 , COMM_UTIL_PKG.USER_NAME(A.COMM_USER_ID)	AS USER_NAME
			 , B.FILE_NAME
			 , B.FILE_EXTENSION
			 , COMM_UTIL_PKG.lang( (SELECT MAX(MLG_CODE) KEEP(DENSE_RANK FIRST ORDER BY USE_YN DESC)
								   	  FROM COMM_MENU
								   	 WHERE INSTR(MENU_URL, B.MENU_URL) > 0
								   ), #{LANG_CODE})								AS MENU_NAME
			 
		  FROM ST_FILE_CONVERT A
		  JOIN COMM_FILE B ON ( (A.ORIGIN_COMM_FILE_ID = B.COMM_FILE_ID)
	                            OR
	                            (A.RESULT_COMM_FILE_ID = B.COMM_FILE_ID)
	                          )
		 WHERE A.ST_FILE_CONVERT_ID = A.ST_FILE_CONVERT_ID
		 ]]>		  
		 <choose>
		 	<when test='STATE_CODE == "WAIT"'>
		 		AND A.STATE_CODE IN ('WAIT', 'FAIL', 'REJECT')
		 	</when>
		 	<otherwise>
		 		AND A.STATE_CODE = #{STATE_CODE}
		 	</otherwise>
		 </choose>
		 <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(MENU_NAME)">
		 	<![CDATA[
		 	AND INSTR(COMM_UTIL_PKG.lang( (SELECT MAX(MLG_CODE) KEEP(DENSE_RANK FIRST ORDER BY USE_YN DESC)
								   	  FROM COMM_MENU
								   	 WHERE INSTR(MENU_URL, B.MENU_URL) > 0
								   ), #{LANG_CODE}), #{MENU_NAME}) > 0 
		   ]]>		  
		 </if>
		 <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(USER_NAME)">
		 	<![CDATA[
		 	AND INSTR(COMM_UTIL_PKG.USER_NAME(A.COMM_USER_ID), #{USER_NAME}) > 0 
		   ]]>		  
		 </if>
	</select>
	
	<!-- 동영상 파일변환 신청 상태 수정 -->
	<update id="U_ST_FILE_CONVERT" parameterType="HashMap">
		/* U_ST_FILE_CONVERT */
		UPDATE ST_FILE_CONVERT A
		   SET A.STATE_CODE = #{STATE_CODE}
		   	 , A.RESULT_COMM_FILE_ID = #{COMM_FILE_ID}
		   	 , A.MID = #{MID}
		   	 , A.MIP = #{MIP}
		   	 , A.MDT = SYSDATE
		 WHERE EXISTS (
		 			SELECT COLUMN_VALUE     AS COLUMN_VALUE
					  FROM TABLE(COMM_UTIL_PKG.SPLIT(#{ST_FILE_CONVERT_ID}, '[@;,;@]'))
					 WHERE COLUMN_VALUE = A.ST_FILE_CONVERT_ID
		 		)
	</update>
	
	<!-- 동영상 파일변환 진행중(변환실행) -->
	<select id="S_ST_FILE_CONVERT_PROCESSING" resultType="HashMap" parameterType="HashMap" >
		/* S_ST_FILE_CONVERT_PROCESSING */
		SELECT A.ST_FILE_CONVERT_ID
			 , COMM_UTIL_PKG.COMM_CODE_ATTR('FILE_EXTENSION', UPPER(B.FILE_EXTENSION), 'ATTRIBUTE1', #{LANG_CODE}) AS FILE_TYPE
			 , B.FILE_EXTENSION
			 , B.MODULE_CODE
			 , B.GROUP_ID
			 , B.MENU_URL
			 , B.FILE_NAME
			 , B.FILE_PATH
			 , B.SERVER_FILE_NAME
		  FROM ST_FILE_CONVERT A
		  JOIN COMM_FILE B ON (A.ORIGIN_COMM_FILE_ID = B.COMM_FILE_ID)
		 WHERE A.STATE_CODE = 'PROCESSING'
		 <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(ST_FILE_CONVERT_IDS)">
		   AND EXISTS (
		   			SELECT COLUMN_VALUE     AS COLUMN_VALUE
					  FROM TABLE(COMM_UTIL_PKG.SPLIT(#{ST_FILE_CONVERT_IDS}, '[@;,;@]'))
					 WHERE COLUMN_VALUE = A.ST_FILE_CONVERT_ID
		   		)		 
		 </if>
	</select>
	
</mapper>